.card-container {
    border-radius: 8px;
    margin-bottom: 12px;
}

.card-container .card-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-holder .card-left-blk {
    display: flex; 
    gap: 15px; 
    align-items: center;
}

.card-left-blk .thumbnail-box {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-box .thumbnail-img {
     width: 100%; 
     height: 100%; 
     object-fit: cover;
}

.card-holder .card-right-blk {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 50px;
}