#auth-container { 
    background-color: #22252b;
}

#auth-container #auth-box-wrapper {
    display:flex; 
    height:100vh;
    justify-content:center;
    align-items:center;
}

#auth-container #auth-box {
    background: rgb(35, 47, 62);
    width:400px;
    padding:30px 0;
    border-radius: 4px;
}